$font-size: 16px;
$font-family: 'Open Sans', sans-serif;

$breakpoint: 50rem;

// light
$theme-sandy-text-primary-rgb: 199, 170, 139;

// dark
$theme-sandy-text-secondary-rgb: 64, 64, 64;

// dark
$theme-sandy-bg-primary-rgb: 50, 50, 50;

// light
$theme-sandy-bg-secondary-rgb: 228, 208, 186;

$navbar-width-drawer: 5rem;
$navbar-icon-size: 2rem;
$navbar-width-extended: 15rem;